.ans_wallet {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.2rem;
    margin-right: 12px;
    border-radius: 1rem;
    /* padding: 2px; */
    max-width: fit-content;
    color: var(--as-common);
    text-decoration: none;
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100vh;
    margin-left: 1%;
    border-style: none;
}

